<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.selp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_blue"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.selp.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.selp.Years"
            android:label="@string/title_activity_years"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.selp.BrowseCourses"
            android:label="@string/title_activity_browse_test"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.selp.YearCourses"
            android:label="@string/title_activity_yearcourses"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.selp.CourseInfo"
            android:label="@string/title_activity_course_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.selp.SemesterBrowser"
            android:label="@string/title_activity_course_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.selp.TimeTable"
            android:label="@string/title_activity_time_table"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.selp.BrowseOptions"
            android:label="@string/title_activity_browse_options"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.selp.YearBrowser"
            android:label="@string/title_activity_year_browser"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.selp.Location"
            android:label="@string/title_activity_location"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
